.control-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.control {
  border-bottom: 2px solid var(--color-secondary-variant);
  padding: 0.5rem 0.5rem 1rem 0;
  font-size: var(--font-size-primary);
  font-weight: var(--font-bold);
}

.control-container label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--color-secondary);
  font-size: var(--font-size-secondary);
}
